<!DOCTYPE HTML>
<html>
	<head>
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="style.css">
		<meta charset="UTF-8" />
		<meta name="keywords" content="HTML" />
		<meta name="description" content="Exercício em aula HTML and CSS" />
		<meta name="copyright" content="Pedro Pita">
		<meta name="author" content="Pedro Pita, al216045@epcc.pt" />
		<title>Segundo Layout</title>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<img src="img/capa.jpg">
			</div>
			<div class="row">
				<div class="col-sm-4">
					<h2>Segunda Row</h2>
					<p>Asafj nalksdfjoa lsdjf posad fiuj saoid fjoi ads+phjf asid fhas+ dio fhas i9f has+dfih asdio fhsoa difh a+fh sdaf hia+si odfha s fasd fhi+as dfh</p>
				</div>
				<div class ="col-sm-4">
					<h2>Terceira Row</h2>
					<p> as duias ghdui ashduia hsdio sahdu iadhaius ahsj gdukjah ashjdb hasbd aso dyugad asdg hasjd asoj dhg aslkjhdga aisud l asdghbj lajus gdb ahsd</p>
				</div>
				<div class="col-sm-4">
					<h2>Quarta Row</h2>
					<p>As afj na lksdfjo alsdj fposadf iujsao idfj oiads+ phjfasi dfha s+diofhas i9fh as+dfih asdiofhs oad ifhsa+fh s dafhia+ s iodfhas fas fhi+as dfh</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<img src="img/img1.jpg">
				</div>
				<div class="col-sm-3">
					<img src="img/img2.jpg">
				</div>
				<div class="col-sm-3">
					<img src="img/img3.jpg">
				</div>
				<div class="col-sm-3">
					<img src="img/img4.jpg">
				</div>
		</div>	
		</body>
</html>